.top-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.top-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-menu li {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.5;
}

.top-menu a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.top-menu li:not(:last-child):after {
    content: '|';
    font-size: 16px;
    padding: 0 10px;
    color: var(--white-text-color);
}

.top-menu__button {
    margin-left: 10px;
}